@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  background-color: #fff3e0;
}

.custom-img {
  background-image: url("../public/images/main-banner.jpg");
}

.custom-img-three {
  background-image: url("../public/images/wooden-natural-floor-decoration-concept.jpg");
}

.custom-img-four {
  background-image: url("../public/images/ketogenic-low-carbs-diet-food-selection-white-wall.jpg");
}

.custom-img-five {
  background-image: url("../public/images/person-s-hand-holding-alarm-clock-hand-breakfast-table.jpg");
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #484849;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.spinner-grow-animation {
  animation: spinner-grow 0.75s linear infinite;
}
