@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
 }

 button {
  cursor: pointer;
 }

.custom-img{
    background-image: url("../public/images/main-banner.jpg");
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  display: none;
}
